.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 20px;
  color: white;
}

a{
    color: white;
    text-decoration: none;
}

.navbar_logo {
  font-size: 24px;
}

.navbar_searchbox {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}

.navbar_searchbox input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

.navbar_links {
  display: flex;
  gap: 40px;
  transition: transform 0.3s;
  position: relative;
  left: 78px;
}

.navbar_links.open {
  transform: translateX(0);
}

.navbar_links .navbar-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar_icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navbar_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    transform: translateX(-100%);
  }

  .navbar_icon {
    display: block;
  }
}

@media (min-width: 2560px) {
  body{
    font-size: 28px;
  }

  .navbar_logo{
    font-size: 35px;
  }

  a{
    font-size: 30px;
  }

  ::placeholder{
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .navbar_searchbox {
    max-width: 150px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 24px;
  }
}


